// 
 script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG')
script(src='public/js/MathJax.min.js?config=TeX-AMS_SVG')
script(src='public/js/main.bundle.js')
script(src='public/js/index.bundle.js')
