meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width initial-scale=1')
title Arcade Mode
link(rel='stylesheet' href='public/css/vendor/bootswatch/bootstrap.min.css')
link(rel='stylesheet' href='public/css/vendor/codemirror/codemirror.min.css')
link(rel='stylesheet' href='public/css/vendor/codemirror/monokai.min.css')
link(rel='stylesheet' href='public/css/style.css')
